.st-emotion-cache-uf99v8 {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    -webkit-box-align: center;
    align-items: right;
    background-image: linear-gradient(180deg, #a2d81a95, white);
}
